@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  font-family: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --1d1c19: #1d1c19;
  --ffffff: #ffffff;
  --da5001: #da5001;
  --7e7e7e: #7e7e7e;
  --fbfbfb: #fbfbfb;
  --589999: #589999;
  --f0f7f7: #f0f7f7;
  --f6f6f6: #f6f6f6;
  --121212: #121212;
}

body {
  color: var(--1d1c19);
  background: var(--fbfbfb);
  display: grid;
  gap: 10px;
  justify-items: center;
  padding: 40px;
}

main {
  width: 100%;
  max-width: 1128px;
  display: grid;
  gap: 96px;
}

a:has(button),
a button {
  width: 100%;
}
